@import "../../styles/vars.scss";

.mobileMenu {
  position: fixed;
  z-index: 10;
  display: flex;
  height: 70px;
  margin: 0 1rem;
  .hamburger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
} // mobileMenu

.menuButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:focus,&:active {
    outline: none;
  }
  transition: all 0.25s ease-in-out;
  .menuButtonBurger {
    width: 20px;
    height: 2px;
    background: $black;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
}

.menuButton.open .menuButtonBurger {
  transform: translateX(-15px);
  background: transparent;
  box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(3px, -3px);
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(3px, 3px);
}

.menuButtonBurger::before {
  transform: translate(-10px, -10px);
}

.menuButtonBurger::after {
  transform: translate(-10px, 10px);
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: $black;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  &:focus,&:active {
    outline: none;
  }
}

