@import "../../styles/vars.scss";


.mainNavigation {
  height: 64px;
  transition: all .25s ease-in-out;
}

.title {
  flex: 1;
  color: $black !important;
}

.noTitle {
  font-size: $h5;
  width: 100%;
  text-align: left;
}

.menuBurger {
  mix-blend-mode: darken;
  cursor: pointer;
}

.menuButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.menuButtonBurger {
  width: 20px;
  height: 2px;
  background: $black;
  border-radius: 5px;
  transition: all .25s ease-in-out;
}

.menuButtonBurger::before, .menuButtonBurger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: $black;
  border-radius: 5px;
  transition: all .25s ease-in-out;
}

.menuButtonBurger::before {
  transform: translate(-10px,-10px);
}

.menuButtonBurger::after {
  transform: translate(-10px,10px);
}

.menuButton.open .menuButtonBurger {
  transform: translateX(-15px);
  background: transparent;
  box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(3px, -3px);
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(3px, 3px);
}


.left,.right {
  flex: 1;
  display: flex;
  color: $black !important;
}

.right {
  justify-content: flex-end;
}
.menuBurger {
  margin-left: 1rem;
  display: block;
}

.rightLink {
  font-size: $h6;
  color: $white;
  font-weight: 500;
}

.linkSecondary {
  color: $cardPrice !important;
  display: flex;
  font-size: $h6;
  margin-left: 10px !important;
  font-weight: 500;
}




