{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],

  "rules": {
    "semi": "off",
    "no-undef": 0,
    "overrides": [
      {
        "excludeFiles": ["*.test.js"]
      }
    ]
  }
}
