@import "../../styles/vars.scss";

.topnavCategoriesWrapper {
  @include mainBoxCategories;
  .furnlogo {
    background: url("../../images/fslogo.png") no-repeat center 0px;
    background-size: cover;
    transition: all .35s linear 0ms;
    display: flex;
    width: 100%;
    padding: 1rem;
    max-width: 230px;
    mix-blend-mode: luminosity;
    height: 215px;
    margin: 0 auto;
    justify-content: center;
    @media screen and (max-width: 1190px) {
      max-width: 190px;
      height: 175px;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  .topnavCategoriesMain {
    padding: 0 0.1rem;
    position: relative;
    .topnavCategories {
      display: flex;
      flex-flow: column;
      transition: all .35s linear 500ms;
      justify-content: flex-start;
      margin-top: 1.5rem;
      @media screen and (max-width: 960px) {
        display: none;
      }//endof 960

      .categoryAll {
        position: relative;
        a {
          .categoryIcon {
            margin-right: 10px;
            margin-left: 10px;

          }


          @include aCategory;
        }
        &:hover {
          // background-color: $categoryHoverColor;
          // mix-blend-mode: luminosity;
        }
      }
      .categoryOther {
        position: relative;
        a {
          .categoryIcon {
            margin-right: 10px;
            margin-left: 10px;
          }
          @include aCategory;
        }
        &:hover {
          // background-color: $categoryHoverColor;
          // mix-blend-mode: luminosity;
        }
      }
    } //topnavCategories
  } //topnavCategoriesMain
} //topnavCategoriesWrapper







/* productsScrollTop */

  .categoryAll a {
    .productsScrollTop {
      transition: all .35s linear 0ms;
      position: absolute;
      max-width: 24px;
      left: 3px;
      top: 34px;
      svg {
        font-size: 1.27rem;
      }
    }

    @media screen and (min-width: 1450px) {
      .productsScrollTop {
        transition: all .35s linear 0ms;
        position: absolute;
        max-width: 35px;
        left: 12px;
        top: 27px;
      }
    }
  }


  .categoryOther a {
    .productsScrollTop {
      position: absolute;
      max-width: 24px;
      left: 3px;
      top: 34px;
      svg {
        font-size: 1.27rem;
      }
    }
    @media screen and (min-width: 1450px) {
      .productsScrollTop {
        position: absolute;
        max-width: 35px;
        left: 12px;
        top: 27px;
      }
    }
  }


  @media screen and (min-width: 1450px) {
    .productsScrollTop::after {
      content: "Scroll Top";
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 35px;
      font-size: .65rem;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1;
    }
  } // media query


/* end productsScrollTop */
