@import "../../styles/vars.scss";

// sidenav wrapper
.topnavCategoriesWrapper {
  background: url("../../images/bgside1.png") center 24% no-repeat;
  background-size: auto;
  width: 100%;
  // main categories
  @include mainBoxCategories;
  .furnlogo {
    background: url("../../images/fslogo.png") no-repeat center 0px;
    mix-blend-mode: multiply;
    @include sidenavLogo;
  }

  .topnavCategoriesMain {
    position: relative;
    .topnavCategories {
      display: flex;
      flex-flow: column;
      transition: all 0.35s linear 100ms;
      justify-content: flex-start;
      margin: 1.25rem 0;

      .categoryAll {
        position: relative;
        &:hover {
          background-color: #d5dbe3;
        }
        a {
          .categoryIcon {
            margin-right: 10px;
            margin-left: 10px;
          }
          @include aCategory;
        }
      }
      .categoryOther {
        position: relative;
        &:hover {
          background-color: #d5dbe3;
        }
        a {
          .categoryIcon {
            margin-right: 10px;
            margin-left: 10px;
          }
          @include aCategory;
        }
      }
    } //topnavCategories
  } //topnavCategoriesMain

} //topnavCategoriesWrapper



/**
*   productsScrollTop
*   -----------------
*/

.categoryAll a {
  .productsScrollTop {
    transition: all 0.35s linear 0ms;
    position: absolute;
    max-width: 24px;
    left: 9px;
    top: 25px;
    svg {
      font-size: 1.27rem;
    }
  }

  @media screen and (max-width: 1280px) {
    .productsScrollTop {
      transition: all 0.35s linear 0ms;
      position: absolute;
      max-width: 35px;
      left: 3px;
      top: 15px;
    }
  }
}

.categoryOther a {
  .productsScrollTop {
    position: absolute;
    max-width: 24px;
    left: 9px;
    top: 25px;
    svg {
      font-size: 1.27rem;
    }
  }
  @media screen and (max-width: 1280px) {
    .productsScrollTop {
      position: absolute;
      max-width: 35px;
      left: 3px;
      top: 15px;
    }
  }
}
.productsScrollTop::after {
  content: "Scroll Top";
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35px;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
}

/* end productsScrollTop */
