@import "../../styles/vars.scss";

.topnavCategoriesWrapper {
  @include mainBoxCategories;
  .furnlogo {
    background: url(/static/media/fslogo.c598143d.png) no-repeat center 0px;
    background-size: cover;
    transition: all .35s linear 0ms;
    display: flex;
    width: 100%;
    padding: 1rem;
    max-width: 230px;
    mix-blend-mode: luminosity;
    height: 215px;
    margin: 0 auto;
    justify-content: center;
    @media screen and (max-width: 1190px) {
      max-width: 190px;
      height: 175px;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  .topnavCategoriesMain {
    padding: 0 0.1rem;
    .topnavCategories {
      display: flex;
      flex-flow: column;
      transition: all .35s linear 500ms;
      justify-content: flex-start;
      margin-top: 1.5rem;
      @media screen and (max-width: 960px) {
        display: none;
      }//endof 960

      .categoryAll {
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
        &:hover {
          // background-color: $categoryHoverColor;
          // mix-blend-mode: luminosity;
        }
      }
      .categoryOther {
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
        &:hover {
          // background-color: $categoryHoverColor;
          // mix-blend-mode: luminosity;
        }
      }
    } //topnavCategories
  } //topnavCategoriesMain
} //topnavCategoriesWrapper
