@import "../../styles/vars.scss";

.pagination {
  display: flex;
  transition: all .35s ease 0ms;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  padding: 0 1rem;
  @media screen and (max-width: 1279px) {
    margin-bottom: 7rem;
  }
  .paginationWrapper {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .paginationButtonLeft,
    .paginationButtonRight {
      font-size: .85rem !important;
      & span {
        // font-size: .9rem;
        // text-align: center;
      }
      &:hover {
        // background-color: #457cb2;
      }
      &:focus {
        outline: none;
      }
      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    span {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  .paginationButtonLeft {
    svg {
      height: 26px;
      left: 5px;
    }
  }
  .paginationButtonRight {
    svg {
      height: 26px;
      right: 19px;
    }
  }
}

.paginationInfo {
  font-size: 1.5rem;
}

.buttonDisabled {
  background-color:$footerBg !important;
  color: $lightBlack !important;
  cursor: not-allowed !important;
}

.buttonEnabled {
  background-color: initial;
}



.MuiButton-endIcon {
  margin-left: 0 !important;
  margin-right: -10px !important;
}

.MuiButton-startIcon {
  margin-left: -10px !important;
  margin-right: 0 !important;
}

button.MuiButton-containedSizeLarge {
  padding: 6px 24px;
}


.paginationLeft {
  color: $cardPrice !important;
}


span button.paginationLeft {
  height: 36px;
  min-width: 36px;
  padding: 0 12px;
}

span button.paginationRight {
  height: 36px;
  min-width: 36px;
  padding: 0 12px;
}
