@import "../../styles/vars.scss";

.mobileMenu {
  z-index: 20;
  flex: 0 1 auto;
  padding: 0px 7px;
  width: fit-content;
  border-radius: 5px;
  flex: 0 1 auto;
  display: flex;
  margin: 0;
  @media screen and (max-width: 1279px) {
    position: fixed;
    left: 2%;
  }
  @media screen and (max-width: 414px) {
    left: 4.5%;
  }
  a {
    padding: 12px 0;
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
} // mobileMenu

.menuButton {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;
  background: $white;
  cursor: pointer;
  &:focus,&:active {
    outline: none;
  }
  transition: all 0.25s ease-in-out;
  .menuButtonBurger {
    width: 20px;
    height: 2px;
    padding: 0 5px;
    background: $black;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
}

.menuButton.open .menuButtonBurger {
  transform: translateX(-16px);
  background: transparent;
  box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(3px, -3px);
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(3px, 3px);
}

.menuButtonBurger::before {
  transform: translate(-12px, -10px);
}

.menuButtonBurger::after {
  transform: translate(-12px, 10px);
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  padding: 0 2px;
  background: $black;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  &:focus,&:active {
    outline: none;
  }
}

