@import "../../styles/vars.scss";


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.mainProductWrapper {
  display: flex;
  flex-direction: column;
  flex: 5 1;
  animation: fadeIn .35s;
  transition: all .5s 300ms;
  opacity:1;
  z-index: 0;

  .productInnerWrapper {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-top: 5rem;
    @media screen and (max-width: 960px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.productImage {
  width: 100%;
  max-width: 410px;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/**
# above line top-right section details
*/
.productDetails {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  @media screen and (max-width: 960px) {
    h2,
    h5 {
      width: 100%;
      text-align: center !important;
    }
    .productPrice h6,
    .productSection h6,
    .productColors,
    .productSection .productQty,
    .productSection .productButton {
      text-align: center !important;
      align-items: center !important;
      margin: 0 auto !important;
      justify-content: center !important;
    }
  } //endof 960

  h2 {
    margin-top: 1.5rem;
    text-align: left;
    font-size: $h2;
    color: $redreg;
  }
  h5 {
    color: $lightBlack;
    font-size: $h5;
    text-align: left;
    font-weight: 400;
    margin-bottom: 1rem;
    @media screen and (max-width: 960px) {
      margin-bottom: 3rem;
    }
  }
  .productPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    h6 {
      display: flex;
      font-size: $h6;
      margin: 1rem 0;
      text-align: left;
      @media screen and (max-width: 960px) {
        margin-bottom: 1rem !important;
      }
    }
    .priceTag {
      margin: 7px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media screen and (max-width: 960px) {
        margin: 0 auto;
      }
      h3 {
        margin: 0;
        margin-bottom: 1rem;
        color: red;
      }
    }
  }
  .productSection {
    width: 100%;
    margin: 1rem 0;
    h6 {
      text-align: left;
      margin: 1rem 0;
      @media screen and (max-width: 960px) {
        margin-bottom: 1rem !important;
      }
    }
    .productQty {
      margin: 7px;
      width: 100%;
      div {
        width: 115px;
        font-size: $small;
        @media screen and (max-width: 960px) {
          display: flex;
          margin: 0 auto;
          input {
            text-align: center;
          }
        }
      }
    }
    .productButton {
      text-align: left;
      button {
        margin: 2rem 0 1rem;
        .MuiButton-outlinedSecondary {
          color: red !important;
          border: 1px solid red !important;
        }
      }
    }
  }
}

/**
# option colors
*/

.productColors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7px;
  width: 27%;
  & span.MuiTypography-body1 {
    font-size: .9rem;
    vertical-align: middle;
  }
  @media screen and (max-width: 960px) {
    p {
      text-align: center;
    }
  }
  .colorBoxes {
    flex-flow: row wrap;
    display: flex;
    margin: 7px;
    justify-content: flex-start;
  }
  .productColor {
    width: 1rem;
    height: 1rem;
    padding: 7px;
    margin-right: 0.75rem;
    transition: all .3s linear 0ms;
    &.whiteRef {
      background-color: lighten($white,10%);
      outline: 1px solid $cardPrice;
    }
    &.blackRef {
      background-color: lighten($lightBlack,15%);
      outline: 1px solid $cardPrice;
    }
  }
}

.white {
  background-color: $whiteBg;
  outline: 1px inset $tableHeadingBg;
}

.black {
  background-color: $cardTitle;
  outline: 1px inset lighten($lightBlack,15%);
}

/**
# should add matui color to theme
*/

.MuiButton-outlinedSecondary {
  color: red !important;
  border: 1px solid red !important;
}

.MuiFab-primary  {
  padding: 2.25rem !important;
  font-size: 1rem !important;
  line-height: 0 !important;
}

/**
# below horizontal line (2nd section)
*/
.productDescription {
  margin: 3rem 0;
  .productMoreSubtitle {
    padding-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    font-size: 1rem;
    border-top: 1px solid lightgray;
    p {
      padding: 0 1rem;
      color: $lightBlack;
    }
    & > p {
      @media screen and (max-width:960px) {
        text-align: center;
      }
    }
  }

  .productMoreDesc {
    padding: 0 1rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
    > div {
      padding: 0 5px;
      & p {
        color: $lightBlack;
      }
    }
    h5 {
      color: $black;
      font-size: $h5;
      margin-bottom: 5px;
    }
    h6 {
      margin-top: 5px;
      font-size: $h6;
    }
    section {
      padding: 0 1rem;
      text-align: justify;
      .productMoreLikethis {
        ul {
          list-style: square;
          list-style-position: inside;
          li {
            padding-left: 7px;
            a {
              color: red;
            }
          }
        }
      }
    }
    section.productLastSection {
      @media screen and (max-width:960px) {
        margin-top: 1rem;
        h6 {
          margin-top: 2rem;
          font-size: $h6;
        }
      }
    }
  }
}

/**
# need navigation
*/

.isShopHeading {
  text-align: center;
  // position: relative;
  // height: 65px;
}

fieldset > legend {
  display: none !important;
}


.MuiSelect-select.MuiSelect-select.MuiInputBase-input.MuiInput-input {
  opacity: 1 !important;
}



.MuiInputBase-input::-webkit-input-placeholder {
  opacity: .71 !important;
}
