@import "../../styles/vars.scss";

.wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: calc(15vh);
  padding: 0 1rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
