@import '../../styles/vars.scss';

.mainWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: row-reverse;
  margin: 0;
  z-index: 0;
}
.sideNavCol {
  flex: 1;
  position: relative;
  width: 16.6%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all 0.35s ease-in-out 0ms;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.mainCol {
  display: flex;
  flex-direction: column;
  flex: 5;
  z-index: 0;
  .content {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
  }
}

.content > .mainContent {
  flex: 4;
  min-height: calc(90vh);
  flex-wrap: wrap;
}

.mainContent {
  display: flex;
  z-index: 0;
  background-color: $pribg;
  .mainHeader {
    margin: 1rem 0;
    width: 100%;
    z-index: 0;

    h1 {
      text-align: center;
    }
  }
  .mainProducts {
    z-index: -1;
    transition: all 0.5s linear 150ms;
    margin-bottom: 3rem;
    width: 100%;
    min-height: 710px;
    height: auto;
  }
}



footer,
.mainContent {
  padding: 0 1rem;
  @media screen and (min-width: 1279px) {
    padding: 0 2rem;
  }
}

.topnav-container {
  transition: all linear .35s 10ms;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  width: 83.43vw;
  padding: 0;
  display: flex;
  z-index: 20 !important;
  @media screen and (max-width: 1279px) {
    width: 100%;
  }
  &.headsup {
    @include headsup;
    @media screen and (max-width: 1279px) {
      width: 100%;
    }
    .topnav-logo {
      position: absolute;
      top: -14px;
      left: 25px;
      @media screen and (max-width: 1279px) {
        display: none;
      }
      img {
        background: url(../../images/fslogo.png) no-repeat 0 0;
        max-width: 85px;
        height: auto;
        background-size: auto;
        mix-blend-mode: multiply;
        width: 100%;
        z-index: 20;
        padding-top: 5px;
        display: flex;
      }
    }
  }
}

/* mgkNav noheadsup */

.topnav-logo {
  img {
    display: none;
  }
}

.cartDetails {
  z-index: 20;
}

.topnav-link {
  display: hidden;
}

.mainHeader h3 {
  padding: 30px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  line-height: 1.5;
  transform: translateY(-25%);
  perspective: 400px;
}

/* ShopHeading */


header,.isShopHeading {
  height: 67px;
  z-index: 20;
  background: transparent;
  background-color: #eff2f7;
  border-bottom: 1px solid darken(#eff2f7,10%);
}

.isShopHeading {
  background: url("../../images/topbg.png") repeat left top;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  transition: all 0.45s ease 0ms;
  background-color: #eff2f7;
  border-bottom: 1px solid darken(#eff2f7,10%);
  opacity: 1;

  color: $black;

  h3 {
    @include heading3FS;
    @media screen and (max-width: 850px) {
      visibility: hidden;
    }
  }
  &.isShopHeadingUp {
    opacity: 0;
  }
}

/* Animate Background Image */

.topLiner {
  @include topliner;
}

footer {
  border-top: 1px inset $white;
  box-shadow: $reg-boxshadow;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  @media screen and (min-width: 1279px) {
    display: none;
  }
  p {
    @include p;
  }
}

.footerCategories {
  display: flex;
  width: 100%;
  margin: 10px 0;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    li {
      a {
        //color: $black;
      }
    }
  }
}



