@import "../../styles/vars.scss";

.topnavCategoriesWrapper {
  position: relative;
  .furnlogo {
      position: fixed;
      top: 7.5vh;
      right: 3vw;
      @media screen and (max-width: 1300px) {
        right: 4vw;
      }
    }
  .topnavCategoriesMain {
    @include mainBoxCategories;
    top: 0vh;
    @media screen and (max-width: 960px) {
      position:static;
      margin: 0 1rem;
    }

    .topnavCategories {
      display: flex;
      flex-flow: column;
      padding: 0 1rem;
      justify-content: space-evenly;
      .categoryAll {
        margin-top: 7.5rem;
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
      }
      .categoryOther {
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
      }
    } //topnavCategories
  } //topnavCategoriesMain
} //topnavCategoriesWrapper
