@import "../../styles/vars.scss";

.topnavCategoriesWrapper {
  @include mainBoxCategories;
  .furnlogo {
    display: flex;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    @media screen and (max-width: 960px) {
      max-width: 90px;
      min-width: 75px;
      height: auto;
    }
  }
  .topnavCategoriesMain {
    padding: 0 0.1rem;
    .topnavCategories {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      @media screen and (max-width: 960px) {
        display: none;
      }
      .categoryAll {
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
        &:hover {
          background-color: $categoryHoverColor;
          mix-blend-mode: luminosity;
        }
      }
      .categoryOther {
        a {
          .categoryIcon {
            margin-right: 10px;
          }
          @include aCategory;
        }
        &:hover {
          background-color: $categoryHoverColor;
          mix-blend-mode: luminosity;
        }
      }
    } //topnavCategories
  } //topnavCategoriesMain
} //topnavCategoriesWrapper
