@import "../../styles/vars.scss";

.productListWrapper {
  display: flex;
  flex-flow: column;
  margin: 2rem 1rem;
  background-color: $navigationBg !important;
  h4 {
    @include cardHeading;
  }
  .productPriceTage {
    font-size: $h5;
    color: $cardPrice;
    display: block;
    margin: 1.5rem 0 1.25rem;
  }
  .productDescription {
    height: auto;
    overflow-y: hidden;
    @include p;
  }
  .actionButtonWrapper {
    z-index: 10;
    padding: 1rem;
    margin-bottom: 1rem;
    button: {
    }
  }
} //productListWrapper
